@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham';
  src: url('../../assets/Flamante-Round-0Medium-FFP.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  background: linear-gradient(
    200.96deg,
    #001F33 -29.09%,
    #330033 51.77%,
    #000000 129.35%
  );
  color: rgba(255, 255, 255, 0.815);
}

@keyframes marquee {
  10% { transform: translateX(0%); }
  50% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  animation: marquee 10s linear infinite;
}

@keyframes marquee-content {
  0% { transform: translateX(0); }
  50% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.marquee-content {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

.marquee-content:hover {
  animation: marquee 9s linear infinite;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border: 0;
  border-radius: 5px;
}
input[type='range']::-webkit-slider-thumb {
  border: 2px solid #10b981;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #10b981;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: transparent;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border: 0;
  border-radius: 5px;
}
input[type='range']::-moz-range-thumb {
  border: 2px solid #10b981;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #10b981;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #4b5563;
  border: 0;
  border-radius: 5px;
}
input[type='range']::-ms-fill-upper {
  background: #4b5563;
  border: 0;
  border-radius: 5px;
}
input[type='range']::-ms-thumb {
  border: 2px solid #10b981;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #10b981;
  cursor: pointer;
}