@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham';
  src: url('../../assets/Flamante-Round-0Medium-FFP.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  background: linear-gradient(
    200.96deg,
    #001F33 -29.09%,
    #330033 51.77%,
    #000000 129.35%
  );
  font-family: 'Gotham', sans-serif;
}
